<div class="content">
  <div class="sectors">
    <p class="sectors-title">Select your sector</p>
    <div>
      <button *ngFor="let sector of sectors" (click)="selectSector(sector)">
        {{ sector.sector_Name }}
      </button>
    </div>
  </div>
  
  <div class="parking-spots">
    <ng-container *ngFor="let spot of parkingSpots">
      <app-parking-spot class="spot"
        *ngIf="spot.sector_ID === selectedSector?.sector_ID"
        [spot]="spot"
        [selected]="spot === selectedSpot"
        (select)="selectParkingSpot($event)"
      ></app-parking-spot>
    </ng-container>
  </div>
  
  <div class="forms">
    <div class="form">
      <span>Submit a reservation!</span>
      <form (ngSubmit)="submitReservation()">
        <div class="input-group">
          <input class="input" type="text" maxlength="10" [(ngModel)]="formInput.license_Plate" name="license_Plate" required />
          <label class="user-label">Plate number</label>
        </div>
        <div class="input-group">
          <input class="input" type="text" [(ngModel)]="formInput.ClientEmail" name="ClientEmail" required />
          <label class="user-label">Email address</label>
        </div>
        <div class="datetime">
          <div>
            Start date
            <input type="date" [(ngModel)]="formInput.start_Date" name="start_Date" required />
          </div>
          <div>
            End date
            <input type="date" [(ngModel)]="formInput.end_Date" name="end_Date" required />
          </div>
          <div>
            Start time
            <input type="time" [(ngModel)]="formInput.start_Time" name="start_Time" required />
          </div>
          <div>
            End time
            <input type="time" [(ngModel)]="formInput.end_Time" name="end_Time" required />
          </div>
        </div>
        <button class="button" type="submit" [disabled]="!formInput.license_Plate || !selectedSpot || !formInput.ClientEmail">
          <span>Reserve</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 74 74"
            height="34"
            width="34"
          >
          <circle stroke-width="3" stroke="black" r="35.5" cy="37" cx="37"></circle>
          <path
            fill="black"
            d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"
          ></path>
          </svg>
        </button>
      </form>
    </div>
    <div class="form cancellation-form">
      <span>Cancel a reservation!</span>
      <form (ngSubmit)="sumbitCancellation()">
        <div class="input-group">
          <input class="input" type="text" maxlength="10" [(ngModel)]="cancelInput.license_Plate" name="license_Plate" required />
          <label class="user-label">Plate number</label>
        </div>
        <div class="input-group">
          <input class="input" type="text" maxlength="12" [(ngModel)]="cancelInput.parking_lot_ID" name="parking_lot_ID" required />
          <label class="user-label">Reservation ID</label>
        </div>
        <button class="button" type="submit" [disabled]="!cancelInput.license_Plate || !cancelInput.parking_lot_ID">
          <span>Cancel reservation</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 74 74"
            height="34"
            width="34"
          >
          <circle stroke-width="3" stroke="black" r="35.5" cy="37" cx="37"></circle>
          <path
            fill="black"
            d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"
          ></path>
          </svg>
        </button>
      </form>
    </div>
  </div>
  <div *ngIf="showPopup">
    <div class="popup-background"></div>
    <app-popup-card (closePopupEvent)="showPopup = false" [description]="response"></app-popup-card>
  </div>
</div>