.popup-card {
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: #40444b;
    text-align: center;

    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
  }
  
.popup-title {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px 8px 0px 0px;
    background-color: #2f3136;
}

.popup-description {
    font-size: 15px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    flex-grow: 1;
}

.accept-button {
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    width: 85px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: auto; 
    align-self: center; 
    margin-bottom: 8px;
}

.accept-button:hover {
    background-color: rgb(31 41 55);
    color: #fff;
    border: rgb(31 41 55);
}

.accept-button:active {
    font-weight: 100;
}
