:host{
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    min-height: 100px;
    background: #202225;
    padding: 10px 10px;
    align-content: center;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.logo {
    position: absolute;
    top:0;
    left: 1vw;
    height: 120px;
    min-width: 200px;
    max-width: calc(30vw - 200px);
    width: calc(40vw - 200px);
}

@media only screen and (max-width: 950px){
    .logo {
        position:relative;
    }
    header h1 {
        padding-bottom: 16px;
    }
}

footer {
    min-height: 50px;
    text-align: center;

    padding: 10px 10px;
    background: #202225;
}

app-main-container{
    flex: 1;
}